.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;


}

.header_logo{
    height:38px;
    object-fit: contain;
}

.Forum__icon{
    padding: 20px;

}